@charset "utf-8";
#header{
    padding:0;
    margin:0;
    border:0;
    list-style:inside;
    text-align:center;
    color: burlywood;
}
#giris {
    text-align: center;
    font-size: large;

}
#menuAlani{
    padding:0;
    padding-top: 10px;
    margin:0;
    border:0;
    text-align:center;
}
#anaSayfa{
    padding:0;
    padding-right:10px;
    margin:0;
    border:0;
}
#urunler{
    padding: 0 auto;
    padding-right: 10px;
    margin:0;
    border:0;
}
#urunBaslık{
    text-align:center;
    color:bisque;
}
.list {
    text-align:center;
    list-style:none;
    font-size: larger;
}
.baslik {
    padding:0 auto;
    margin:0;
    border:0;
    color: burlywood;
    text-align: center;
}
.kedi {
    padding:0;
    margin:0;
    border:0;
    color:peru;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#kediAciklama{
    text-align:center;
}
.köpek { 
    color:peru;
    text-align: center;
}
#köpekAciklama{
    text-align:center;
} #esyalar{
    text-align:center;
    color:peru;
}h4{
    text-align:center;
    color:peru;
} h2{
    text-align: center;
    color: peru;
}
#geriDönüs{
    border: 0 ;
    margin: 0;
    padding:0 auto;
    padding-right: 10px;
    text-align: center;
    font-size: larger;
}
#geriAnasayfa{
    padding-right: 10px;
}
#geriAbout{
    padding-right: 10px;
}
